@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #333;
}
.container {
}
input[name="tabmenu"] {
  display: none;
}
.tab {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.tab_inner {
  position: absolute;
  left: 0;
  width: 300%;
  height: inherit;
  display: flex;
  transition: 0.5s;
}
.tab_inner div {
  position: relative;
  width: 33.333333%;
  height: inherit;
  text-align: center;
}
.tab_inner div::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: inherit;
  z-index: 0;
}
.tab_inner div:nth-child(1):after {
  background: linear-gradient(135deg, gold, transparent);
}
.tab_inner div:nth-child(2):after {
  background: linear-gradient(135deg, crimson, transparent);
}
.tab_inner div:nth-child(3):after {
  background: linear-gradient(135deg, dodgerblue, transparent);
}
.tab_inner div:nth-child(1) {
  background: url(../image/photo-01.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.tab_inner div:nth-child(2) {
  background: url(../image/photo-02.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.tab_inner div:nth-child(3) {
  background: url(../image/photo-03.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.tab_inner div h1 {
  position: relative;
  font-size: 80px;
  margin-top: 150px;
  color: #fff;
  z-index: 1;
  transform: translateY(-210px);
  transition: 0.5s;
}
.btn {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}
.btn label {
  margin: 0 30px;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
}
input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
  color: #fff;
  text-shadow: 0 0 5px #fff;
  font-weight: 500;
}
input[id="tab1"]:checked ~ .tab .tab_inner {
  left: 0;
}
input[id="tab2"]:checked ~ .tab .tab_inner {
  left: -100%;
}
input[id="tab3"]:checked ~ .tab .tab_inner {
  left: -200%;
}
input[id="tab1"]:checked ~ .tab .tab_inner div:nth-child(1) h1,
input[id="tab2"]:checked ~ .tab .tab_inner div:nth-child(2) h1,
input[id="tab3"]:checked ~ .tab .tab_inner div:nth-child(3) h1 {
  transform: translateY(0);
  transition-delay: 0.5s;
}
