body {
  margin: 0;
  height: 100vh;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.sns {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.sns a {
  position: relative;
  margin: 20px;
  text-decoration: none;
  border: 5px solid #fff;
  background-color: #fff;
  color: #333;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}
.sns a .fab {
  position: relative;
  line-height: 80px;
  font-size: 40px;
  transition: 0.5s;
}
.sns a:hover .fab {
  color: #fff;
  transform: rotateY(360deg);
}
.sns a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 0px;
  transition: 0.5s;
}
.sns a:hover::before {
  height: 100%;
}
.sns a:nth-child(1):hover::before {
  background-color: #1877f2;
}
.sns a:nth-child(2):hover::before {
  background-color: #1da1f2;
}
.sns a:nth-child(3):hover::before {
  background-color: #ff5700;
}
.sns a:nth-child(4):hover::before {
  background-color: #3aaf85;
}
.sns a:nth-child(5):hover::before {
  background-color: #e4405f;
}
