body {
}
.dropdown {
  width: 200px;
}
.dropdown-btn {
  width: inherit;
  padding: 10px;
  background-color: yellowgreen;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.dropdown-submenu {
  width: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
}
.dropdown:hover .dropdown-submenu {
  display: block;
}
.dropdown-submenu a {
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 7px;
  transition: 0.3s;
}
.dropdown-submenu a:hover {
  background-color: #eee;
}
