body {
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
}
.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 350px;
}
input[name="tab"] {
  display: none;
}
.content img {
  display: none;
}
.bullet {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
.bullet label {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
  border-radius: 50%;
  background-color: lightgray;
  transition: 0.3s;
}
input[id="tab1"]:checked ~ .content .img1 img,
input[id="tab2"]:checked ~ .content .img2 img,
input[id="tab3"]:checked ~ .content .img3 img {
  display: block;
}
input[id="tab1"]:checked ~ .bullet label[for="tab1"],
input[id="tab2"]:checked ~ .bullet label[for="tab2"],
input[id="tab3"]:checked ~ .bullet label[for="tab3"] {
  background-color: crimson;
}
