/* Google Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  line-height: 1.5em;
  margin: 0;
  color: #333;
}
